{% extends 'Portal/index.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
    {% if my_list %}
    <div class="container mt-4">
        {% for n,e,a1,a2,c,s,pc,pn,fo in my_list %}
        <h1 class="text-center" style="font-family:Times New Roman">Order - {{forloop.counter}}</h1>
        <div class="table-responsive-lg">
        <table class="mx-auto table table-hover">
          <thead class="black white-text text-center">
            <tr>
              <th scope="col">Customer - {{forloop.counter}} Details</th>
              
            </tr>
          </thead>
            <tbody>

            <tr>
              <!-- <th scope="row"><img src="/static/images/pimg{{y.id}}.jpg" alt="image" height="100" width="100"></th> -->
              <th scope="row"><span style='font-weight: bold;'>Name : </span>{{n}}<br>
                <span style='font-weight: bold;'>Email : </span>{{e}}<br>
                <span style='font-weight: bold;'>Address : </span>{{a1}}<br>
                <span style='font-weight: bold;'>Address Line 2 : </span>{{a2}}<br>
                <span style='font-weight: bold;'>City : </span>{{c}}<br>
                <span style='font-weight: bold;'>State : </span>{{s}}<br>
                <span style='font-weight: bold;'>Pin Code : </span>{{pc}}<br>
                <span style='font-weight: bold;'>Phone Number : </span>{{pn}}<br>
                </th>
              
            </tr>
            {% for x in fo %}
             <tr>
              <th scope="row"><span style='font-weight: bold;'>Product Name : </span>{{x.name}}<br>
                  <span style='font-weight: bold;'>Quantity : </span>{{x.qty}}<br>
                  <span style='font-weight: bold;'>Price : </span>{{x.price}}<br></th>
              
            </tr>
            {% endfor %}
             </tbody>
        </table><hr>

        {% endfor %}
            
        </div>
    </div>

    {% else %}
    <div class="container mt-4">
      <div class="border p-3 mt-4 mx-auto mb-5 border-0 z-depth-3" style="max-width:600px">
        <h1 class="text-center my-4">You currently have no Orders.</h1>
        <h2 class="text-center my-4">Don't worry , your orders will be visible , if any customer makes his order.</h2>
        <h3 class="text-center my-4">If any inconvinience occured, please contact us <a href="{% url 'contact' %}">here</a></h3>
      
      </div>
        
        </div>
    {% endif %}





{% block js %}
{% endblock %}

<!-- <footer class="text-white " style="background-image:linear-gradient(to bottom,rgb(51, 51, 51),rgb(51, 51, 51))">
  <div class="container pt-5">
     <div class="row mb-5">
         <div class="col-md text-center">
                 <h3>𝓘ndian𝓕resh𝓒art</h3>
                     <p class="mt-4">Great design will not sell an inferior product, but it will enable
                         a great product to achieve its maximum potential.</p>
                 <div class="px-2">
                 <a class="a" href="#"><span><i class="fab blue-text fa-facebook-square fa-2x"></i></span></a>
                 <a class="a" href="#"><span><i class="fab red-text fa-instagram fa-2x"></i></i></span></a>
                 <a class="a" href="#"><span><i class="fab cyan-text fa-twitter-square fa-2x"></i></span></a>
                 </div>

         </div>


         <div class="col-md-3">
                 <h4 style="text-align:center">Menu</h4>
                     <div class="px-auto" style="text-align:center">
                     <ul class="list-unstyled justify-content-center mt-4">
                     <li><a class="a" href="{% url 'index' %}">Home</a></li>
                     <li><a class="a" href="{% url 'about' %}">About</a></li> -->
                     <!-- <li><a class="a" href="{% url 'contact' %}">Contact Us</a></li> -->
                     </ul>
                     </div>
         </div>


         <!-- <div class="col-md ">
                 <h4 style="text-align:center" >Have a Questions?</h4>
                 <ul class="list-unstyled mt-4" style="text-align: center">

                     <li><span><i class="fas green-text fa-map-marker-alt fa-1x mr-2"></i><span class="text">Nadergul, Hyderabad, INDIA</span></span></li>
                     <li><a class="a" href="#"><span><i class="fas blue-text fa-phone fa-1x mr-2"></i></span><span class="text">+91 9505149487  </span></a></li>
                     <li><a class="a" href="#"><span><i class="fas blue-text fa-phone fa-1x mr-2"></i></span><span class="text">+91 7093680301  </span></a></li>
                    <li><a class="a" href="mailto: indianfreshcart@gmail.com"><span><i class="fas cyan-text fa-envelope fa-1x mr-2"></i></span><span class="text">indianfreshcart@gmail.com</span></a></li>
                 </ul>
          </div>
     </div>
         <div class="row">
                 <div class="col-md-12 text-center">
                 <p>
                 Copyright &copy;2021 All rights reserved @ <i aria-hidden="true"></i> <a class="a" href="{% url 'index' %}">𝓘ndian𝓕resh𝓒art</a>

                 </p>
                 </div> -->
         </div>
     </div>
 </footer>

{% endblock %}