{% extends 'Portal/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>
        {% if user.is_authenticated %}
            <div class="container mt-4">
                <div class="border p-3 mx-auto mb-3 border-0 z-depth-3" style="max-width:600px">
                    <h3>You are Logged in as <span class="text-captalize">{{request.user}}</span></h3>
                </div>
            </div>

        {% else %}
        <div class="container mt-1">
            <div class="border p-3 mx-auto mb-3 border-0 z-depth-3" style="max-width:600px">
                <h3>Login</h3>
           <form method="POST">
               {% csrf_token %}
               {{form|crispy}}
               <p><small>Don't have an Account ? <a href="{% url 'signup' %}">Sign Up</a></small></p>
               <p><small>Forgot your password ? <a href="{% url 'password_reset' %}">Reset Password</a></small></p>
               <button type="submit" class="btn btn-indigo">Log In</button>
           </form>
            </div>
        </div>

        {% if checker %}
            <!-- JQuery -->
             <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(function() {
                    var username="{{username}}";
                    var email="{{email}}";
                    $('#id_username').val(username);
                    $('#id_email').val(email);
                    $('#id_email').addClass('is-invalid');
                    $('#id_email').after("<style> strong { color:red }</style><small><strong>A user with that email already exists.</strong></small>");
                });
            </script>
        {% endif %}
            <!-- JQuery -->
             <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
             $(document).ready(function() {
                $('#id_username').attr('placeholder','Enter your username...');
                $('#id_username').attr('autocomplete','off');
                $('#id_password').attr('placeholder','Enter your password...');
             });
        </script>
    {% endif %}
{% endblock %}