{% extends 'Portal/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>
        {% if user.is_authenticated %}
            <div class="container mt-4">
                <div class="border p-3 mx-auto mb-3 border-0 z-depth-3" style="max-width:600px">
                    <h2>You are not supposed to this Operation !!</h2>
                    <h3>Since, You are Logged in as <span class="text-captalize">{{request.user}}</span></h3>
                </div>
            </div>

        {% else %}
        <div class="container mt-4">
            <div class="border p-3 mx-auto mb-3 border-0 z-depth-3" style="max-width:600px">
                <h2>Enter your new Password</h2>
              <h5>Please enter your new password twice so we can verify that you entered it correctly.</h5>           <form method="POST">
               {% csrf_token %}
               {{form|crispy}}
               <button type="submit" class="btn btn-cyan">Change my Password</button>
           </form>
            </div>
        </div>

            <!-- JQuery -->
             <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
             $(document).ready(function() {
                $('#id_new_password1').attr('placeholder','Enter your New Password...');
                $('#id_new_password2').attr('placeholder','Retype your New Password...');
             });
        </script>
    {% endif %}
{% endblock %}